.list-container {
    max-width: 800px; 
    margin: 0 auto;
    padding: 20px;
    background-color: #FFA756;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .pokemon-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
    gap: 10px; 
  }
  
  .pokemon-item {
    padding: 5px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .pokemon-item img {
    max-width: 100%; 
  }

  @media (max-width: 600px) {
    .pokemon-grid {
      grid-template-columns: repeat(3, 1fr); /* 3 Pokémon per row for screens <= 600px */
    }
  }